html,
body {
    font-family: 'Droid Serif', serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

.navbar {
    text-align: right;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.432);
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: 0.5s;
}

.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    border-bottom: solid #ffffff;
}

.active {
    border-bottom: solid #ffffff;
}

.navbar .icon {
    display: none;
}

.navbar .navbarlogo {
    float: left;
    display: flex;
    padding-left: 10px;
    padding-top: 5px;
}

.navbar .navbarlogo img {
    height: 65px;
}

.navbar .navbarlogo h1 {
    padding: 7px 0 0 10px;
    margin-top: 16px;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .navbar a {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
}

.dummy {
    pointer-events: none;
    cursor: default;
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
        background: black;
    }
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    .navbar.responsive a:hover {
        border: none;
        background: #a8a8a877;
    }
    .active {
        border: none;
        background: #a8a8a877;
    }
    .dummy {
        height: 22px;
    }
}

.containernav {
    background-color: linear-gradient(rgba(190, 70, 70, 0.473), rgba(78, 80, 179, 0.473));
    max-width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
    position: absolute;
}

containernav::after {
    background-image: linear-gradient(rgba(190, 70, 70, 0.473), rgba(78, 80, 179, 0.473));
}

h1 {
    font-size: 60px;
    text-align: center;
}

.content-slider {
    width: 100%;
    height: 400px;
}

.slider {
    height: 400px;
    width: 100%;
    margin-top: 750px;
    overflow: visible;
    position: absolute;
    z-index: 1;
    background-color: #f1ce30;
}

.mask {
    overflow: hidden;
    min-height: 320px;
    height: auto;
}

.slider ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.slider li {
    width: 80%;
    height: 320px;
    position: absolute;
    top: -325px;
    list-style: none;
}

.slider .name {
    margin-top: 150px;
    margin-left: 100px;
    font-size: 24px;
    color: #ffffff;
}

.slider .content {
    margin-top: 10px;
    margin-left: 100px;
    font-size: 20px;
    color: #ffffff;
}

.slider .date {
    margin-top: 10px;
    margin-left: 110px;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 100px;
}

.slider li.anim1 {
    -moz-animation: cycle 20s linear infinite;
    -webkit-animation: cycle 20s linear infinite;
    animation: cycle 20s linear infinite;
}

.slider li.anim2 {
    -moz-animation: cycle2 20s linear infinite;
    -webkit-animation: cycle2 20s linear infinite;
    animation: cycle2 20s linear infinite;
}

.slider li.anim3 {
    -moz-animation: cycle3 20s linear infinite;
    -webkit-animation: cycle3 20s linear infinite;
    animation: cycle3 20s linear infinite;
}

.slider li.anim4 {
    -moz-animation: cycle4 20s linear infinite;
    -webkit-animation: cycle4 20s linear infinite;
    animation: cycle4 20s linear infinite;
}

.slider li.anim5 {
    -moz-animation: cycle5 20s linear infinite;
    -webkit-animation: cycle5 20s linear infinite;
    animation: cycle5 20s linear infinite;
}

@-moz-keyframes cycle {
    0% {
        top: 0px;
    }
    4% {
        top: 0px;
    }
    16% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    20% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    21% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    92% {
        top: -325px;
        opacity: 0;
        z-index: 0;
    }
    96% {
        top: -325px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@-moz-keyframes cycle2 {
    0% {
        top: -325px;
        opacity: 0;
    }
    16% {
        top: -325px;
        opacity: 0;
    }
    20% {
        top: 0px;
        opacity: 1;
    }
    24% {
        top: 0px;
        opacity: 1;
    }
    36% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    40% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    41% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-moz-keyframes cycle3 {
    0% {
        top: -325px;
        opacity: 0;
    }
    36% {
        top: -325px;
        opacity: 0;
    }
    40% {
        top: 0px;
        opacity: 1;
    }
    44% {
        top: 0px;
        opacity: 1;
    }
    56% {
        top: 0px;
        opacity: 1;
    }
    60% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    61% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-moz-keyframes cycle4 {
    0% {
        top: -325px;
        opacity: 0;
    }
    56% {
        top: -325px;
        opacity: 0;
    }
    60% {
        top: 0px;
        opacity: 1;
    }
    64% {
        top: 0px;
        opacity: 1;
    }
    76% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    80% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    81% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-moz-keyframes cycle5 {
    0% {
        top: -325px;
        opacity: 0;
    }
    76% {
        top: -325px;
        opacity: 0;
    }
    80% {
        top: 0px;
        opacity: 1;
    }
    84% {
        top: 0px;
        opacity: 1;
    }
    96% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    100% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
}

@-webkit-keyframes cycle {
    0% {
        top: 0px;
    }
    4% {
        top: 0px;
    }
    16% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    20% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    21% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    50% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    92% {
        top: -325px;
        opacity: 0;
        z-index: 0;
    }
    96% {
        top: -325px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@-webkit-keyframes cycle2 {
    0% {
        top: -325px;
        opacity: 0;
    }
    16% {
        top: -325px;
        opacity: 0;
    }
    20% {
        top: 0px;
        opacity: 1;
    }
    24% {
        top: 0px;
        opacity: 1;
    }
    36% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    40% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    41% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes cycle3 {
    0% {
        top: -325px;
        opacity: 0;
    }
    36% {
        top: -325px;
        opacity: 0;
    }
    40% {
        top: 0px;
        opacity: 1;
    }
    44% {
        top: 0px;
        opacity: 1;
    }
    56% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    60% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    61% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes cycle4 {
    0% {
        top: -325px;
        opacity: 0;
    }
    56% {
        top: -325px;
        opacity: 0;
    }
    60% {
        top: 0px;
        opacity: 1;
    }
    64% {
        top: 0px;
        opacity: 1;
    }
    76% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    80% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    81% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes cycle5 {
    0% {
        top: -325px;
        opacity: 0;
    }
    76% {
        top: -325px;
        opacity: 0;
    }
    80% {
        top: 0px;
        opacity: 1;
    }
    84% {
        top: 0px;
        opacity: 1;
    }
    96% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    100% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
}


/*===========================================================================
=============================================================================
=============================================================================
===========================================================================*/


/* universal value setter */

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

#text-sequence-2 {
    position: absolute;
    width: 100%;
    margin-top: 700px;
    height: 170px;
    z-index: 2;
    background-color: #f1ce30;
}

#text-sequence-2 h1 {
    color: #ffffff;
    float: left;
    font-family: Helvetica;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 40px;
    font-weight: 100;
    padding-right: 20px;
    z-index: 2;
}

#borderline {
    border-right: solid #ffffff;
    position: absolute;
    margin-top: 100px;
    margin-left: 335px;
    height: 450px;
    width: 100px;
}

#borderline-horizontal {
    border-bottom: solid #ffffff;
    position: absolute;
    margin-top: 850px;
    margin-left: 55px;
    height: 1px;
    width: 90%;
    z-index: 2;
}

#borderline-horizontal-black {
    border-bottom: solid #a7a7a7;
    position: absolute;
    margin-top: 10px;
    margin-left: 55px;
    height: 1px;
    width: 90%;
}


/* events layout */

#eventspage {
    position: absolute;
    z-index: 1;
    margin: 1850px 0 0 0px;
    height: 800px;
    width: 100%;
}

#eventspage h2 {
    font-weight: lighter;
    margin-top: 120px;
    margin-left: 100px;
    text-align: left;
    color: #a7a7a7;
}

#eventspage p {
    margin-top: 30px;
    text-align: left;
    font-size: 20px;
    padding: 0 20px 0 20px;
}


/* scrollbar wrapper */

#awrap {
    height: 400px;
    width: 100%;
    position: absolute;
    margin: 800px 0 0 810px;
}

#awrap-calendar {
    height: 400px;
    width: 100%;
    position: absolute;
}


/* event calendar */

#event-calendar {
    position: absolute;
    z-index: 1;
    margin: 50px 0 5% 5%;
    height: 400px;
    width: 90%;
}


/* scrollbar setup hidden */

.scroll {
    float: left;
    height: 400px;
    width: 500px;
    background: #ffffff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.scroll-calendar {
    position: absolute;
    height: 400px;
    width: 100%;
    background: #ffffff;
    overflow-y: scroll;
    margin-bottom: 25px;
}


/* scrollbar when hover will show */


.scroll:hover {
    float: left;
    height: 400px;
    width: 500px;
    background: #ffffff;
    overflow-y: scroll;
    margin-bottom: 25px;
}



.scroll-calendar:hover {
    position: absolute;
    height: 400px;
    width: 100%;
    background: #ffffff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.item {
    width: 100%;
}

.contain {
    float: left;
    width: 85%;
}

#scrolloverflow {
    min-height: 350px;
}

#scrolloverflow img {
    float: left;
    height: 75px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 55px;
}

.hdes {
    margin-top: 50px;
    text-align: left;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 55px;
    margin-right: 55px;
}

.pdes {
    margin-bottom: 50px;
    text-align: left;
    margin-left: 55px;
    margin-right: 55px;
    border-bottom: solid #00000017;
    color: #00000059;
}


/* scroll bar track */

#nicestyle::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}


/* scrollbar underlayer */

#nicestyle::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff;
}


/* scrollbar thumbbar */

#nicestyle::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.footerannounce {
    position: absolute;
    margin-top: 2550px;
    height: 30%;
    width: 100%;
    background-color: #272727;
}

.footerannounce p {
    margin-top: 50px;
    color: white;
    text-align: center;
}


/* Slideshow smooth */

.slideshow {
    max-height: 700px;
    width: 100%;
    z-index: 0;
    position: absolute;
}

input {
    display: none;
}

.inner {
    width: 500%;
    line-height: 10px;
}

article {
    width: 20%;
    float: left;
    position: relative;
}

.overlay {
    z-index: 1;
    opacity: 0;
    filter: grayscale(100%);
    filter: brightness(0%);
    -webkit-transition: all 500ms ease-out 600ms;
    -moz-transition: all 500ms ease-out 600ms;
    transition: all 500ms ease-out 600ms;
}

.img {
    margin-top: -700px;
    height: 800px;

}

article img {
    filter: brightness(100%);
    height: 700px;
    width: 100%;
}


/* slideshow nav control */

.slider-prev-next-control {
    height: 700px;
    margin-left: -10px;
    margin-right: 20px;
    top: 50%;
    width: 101%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider-prev-next-control label {
    display: none;
    width: 75px;
    height: 700px;
    background: #7a7a7a;
    opacity: 0;
    transition: 0.3s;
}

.slider-prev-next-control label:hover {
    opacity: 0.2;
    cursor: pointer;
    transition: 0.3s;
}


/* slideshow nav dot control */

.slider-dot-control {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    margin-bottom: 15px;
}

.slider-dot-control label {
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.slider-dot-control label:hover {
    background: #6e6e6e;
    border-color: #a19e9e;
}


/* image description */

.info {
    position: absolute;
    font-style: italic;
    line-height: 20px;
    opacity: 0;
    color: #000000;
    text-align: left;
    z-index: 2;
    -webkit-transition: all 2000ms ease-out 600ms;
    -moz-transition: all 2000ms ease-out 600ms;
    transition: all 2000ms ease-out 600ms;
}

.info h2 {
    color: #ffffff;
    margin: 0 0 5px;
    font-family: Helvetica;
    font-weight: normal;
    line-height: 50px;
    font-size: 42px;
    font-style: normal;
}

.info h3 {
    color: #ffffff;
    margin: 0 0 5px;
    font-family: Helvetica;
    font-weight: normal;
    line-height: 50px;
    font-size: 36px;
    font-style: normal;
}

.info h4 {
    color: #ffffff;
    margin: 0 0 5px;
    font-family: Helvetica;
    font-weight: normal;
    line-height: 50px;
    font-size: 24px;
    font-style: normal;
}


.info.bottom-left {
    margin-top: 300px;
    left: 150px;
}


/* Slider Styling */

.slider-wrapper {
    width: 100%;
    overflow: hidden;
    background: #fff;
    background: #fcfff4;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.slider-wrapper .inner {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}


/* position setting */

#slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
#slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
#slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
#slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
#slide5:checked~.slider-prev-next-control label:nth-child(1)::after,
#slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
#slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
#slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
#slide5:checked~.slider-prev-next-control label:nth-child(4)::after,
#slide1:checked~.slider-prev-next-control label:nth-child(5)::after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin: 0;
    line-height: 38px;
    font-size: 3em;
    display: block;
    color: #777;
}

#slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
#slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
#slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
#slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
#slide5:checked~.slider-prev-next-control label:nth-child(1)::after {
    content: "\f105";
    padding-left: 15px;
}

#slide1:checked~.slider-prev-next-control label:nth-child(2),
#slide2:checked~.slider-prev-next-control label:nth-child(3),
#slide3:checked~.slider-prev-next-control label:nth-child(4),
#slide4:checked~.slider-prev-next-control label:nth-child(5),
#slide5:checked~.slider-prev-next-control label:nth-child(1) {
    display: block;
    float: right;
    margin-right: 5px;
}

#slide2:checked~.slider-prev-next-control label:nth-child(1),
#slide3:checked~.slider-prev-next-control label:nth-child(2),
#slide4:checked~.slider-prev-next-control label:nth-child(3),
#slide5:checked~.slider-prev-next-control label:nth-child(4),
#slide1:checked~.slider-prev-next-control label:nth-child(5) {
    display: block;
    float: left;
    margin-left: 5px;
}

#slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
#slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
#slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
#slide5:checked~.slider-prev-next-control label:nth-child(4)::after,
#slide1:checked~.slider-prev-next-control label:nth-child(5)::after {
    content: "\f104";
    padding-left: 8px;
}

#slide1:checked~.slider-dot-control label:nth-child(1),
#slide2:checked~.slider-dot-control label:nth-child(2),
#slide3:checked~.slider-dot-control label:nth-child(3),
#slide4:checked~.slider-dot-control label:nth-child(4),
#slide5:checked~.slider-dot-control label:nth-child(5) {
    background: #6d6d6d;
}

#slide1:checked~.slider-wrapper article:nth-child(1) .info,
#slide2:checked~.slider-wrapper article:nth-child(2) .info,
#slide3:checked~.slider-wrapper article:nth-child(3) .info,
#slide4:checked~.slider-wrapper article:nth-child(4) .info,
#slide5:checked~.slider-wrapper article:nth-child(5) .info{
    opacity: 1;
}

#slide1:checked~.slider-wrapper article:nth-child(1) .overlay,
#slide2:checked~.slider-wrapper article:nth-child(2) .overlay,
#slide3:checked~.slider-wrapper article:nth-child(3) .overlay,
#slide4:checked~.slider-wrapper article:nth-child(4) .overlay,
#slide5:checked~.slider-wrapper article:nth-child(5) .overlay{
    opacity: 0.5;
}

#slide1:checked~.slider-wrapper .inner {
    margin-left: 0%;
}

#slide2:checked~.slider-wrapper .inner {
    margin-left: -100%;
}

#slide3:checked~.slider-wrapper .inner {
    margin-left: -200%;
}

#slide4:checked~.slider-wrapper .inner {
    margin-left: -300%;
}

#slide5:checked~.slider-wrapper .inner {
    margin-left: -400%;
}

.row {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-top: 720px;
}

.row #head h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    color: #000000;
}

.card {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.card .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card .menu-content::before,
.card .menu-content::after {
    content: '';
    display: table;
}

.card .menu-content::after {
    clear: both;
}

.card .menu-content li {
    display: inline-block;
}

.card .menu-content a {
    color: #fff;
}

.card .menu-content span {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 10px;
    font-weight: 400;
    transform: translate(-50%, 0);
}

.card .wrapper {
    background-color: #fff;
    height: 270px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.card .wrapper:hover .data {
    transform: translateY(0px);
}

.card .data {
    position: absolute;
    bottom: 0;
    width: 101%;
    transform: translateY(calc(200px + 1em));
    transition: transform 0.3s;
}

.card .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
}

.card .title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;
}

.card .text {
    height: 200px;
    margin: 0;
}

.box-1 .content {
    background-color: #fff;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

.box-1 .title h1 {
    color: gray;
}

.box-2 .content {
    background-color: #fff;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

.box-2 .title h1 {
    color: gray;
}

.box-3 .content {
    background-color: #fff;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

.box-3 .title h1 {
    color: gray;
}