/* universal value setter */

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

.navbar {
    text-align: right;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.432);
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
}

.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.2s;
}

.navbar a:hover {
    border-bottom: solid #ffffff;
}

.active {
    border-bottom: solid #ffffff;
}

.navbar .icon {
    display: none;
}

.navbar .navbarlogo {
    float: left;
    display: flex;
    padding-left: 10px;
    padding-top: 5px;
}

.navbar .navbarlogo img {
    height: 65px;
}

.navbar .navbarlogo h1 {
    padding: 7px 0 0 10px;
    margin-top: 16px;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .navbar a {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
}

.dummy {
    pointer-events: none;
    cursor: default;
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
        background: black;
    }
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    .navbar.responsive a:hover {
        border: none;
        background: #a8a8a877;
    }
    .active {
        border: none;
        background: #a8a8a877;
    }
    .dummy {
        height: 22px;
    }
}

.containernav {
    background-color: linear-gradient(rgba(190, 70, 70, 0.473), rgba(78, 80, 179, 0.473));
    max-width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
    position: absolute;
}

containernav::after {
    background-image: linear-gradient(rgba(190, 70, 70, 0.473), rgba(78, 80, 179, 0.473));
}


/* the second text */

#text-sequence2 {
    position: absolute;
    margin-top: 285px;
    margin-left: 450px;
}

#text-sequence2 h1 {
    color: #ffffff;
    font-family: Helvetica;
    font-size: 55px;
    padding-right: 20px;
    font-weight: lighter;
    line-height: 90px;
}

#borderline {
    border-right: solid #ffffff;
    position: absolute;
    margin-top: 100px;
    margin-left: 335px;
    height: 450px;
    width: 100px;
}

#borderline-horizontal {
    border-bottom: solid #ffffff;
    position: absolute;
    margin-top: 180px;
    margin-left: 55px;
    height: 1px;
    width: 90%;
}

#borderline-horizontal-black {
    border-bottom: solid #b6b6b6;
    position: absolute;
    margin-top: 10px;
    margin-left: 55px;
    height: 1px;
    width: 90%;
}

.footerarchive {
    position: absolute;
    margin-top: 1800px;
    height: 30%;
    width: 100%;
    background-color: #272727;
}

.footerarchive p {
    margin-top: 50px;
    color: white;
    text-align: center;
}

#about-front {
    position: absolute;
    margin-top: 325px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 1;
}

#about-front h1 {
    border-width: 5px;
    text-align: center;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 75px;
    font-weight: 500;
}



/*=================================================*/

.row {
    float: right;
    z-index: 1;
    width: 30%;
    margin-right: 2%;
    margin-top: 700px;
}

.row #head {
    margin-top: 100px;
    text-align: center;
    font-weight: 500;
    color: #000000;
}

.card {
    float: left;
    margin-top: 50px;
    width: 100%;
}

.card .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card .menu-content::before,
.card .menu-content::after {
    content: '';
    display: table;
}

.card .menu-content::after {
    clear: both;
}

.card .menu-content li {
    display: inline-block;
}

.card .menu-content a {
    color: #fff;
}

.card .menu-content span {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 10px;
    font-weight: 700;
    transform: translate(-50%, 0);
}

.card .wrapper {
    background-color: #fff;
    min-height: 200px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.card .wrapper:hover .data {
    transform: translateY(40px);
}

.card .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(80px + 1em));
    transition: transform 0.3s;
}

.card .content a {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #a5a5a5;
    border-radius: 10px;
    text-decoration: none;
    color: #a5a5a5;
    transition: 0.2s;
}

.card .content a:hover {
    border-color: #000000;
    border-radius: 30px;
    color: #000000;
    transition: 0.3s;
}

.card .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
}

.card .title {
    margin-top: 10px;
    margin-bottom: 30px;
}

.card .text {
    height: 70px;
    margin: 0px;
}

.box-1 .content {
    background-color: #fff;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

.box-1 .title h1 {
    color: gray;
}

.box-2 .content {
    background-color: #fff;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

.box-2 .title h1 {
    color: gray;
}

.box-3 .content {
    background-color: #fff;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

.box-3 .title h1 {
    color: gray;
}


#backimage {
    width: 100%;
    height: auto;
    max-height: 700px;
    filter: brightness(50%);
    left: 0px;
    right: 0px;
}

#descript-box {
    position: absolute;
    width: 100%;
    height: 200px;
    margin-top: 500px;
    background-color: #f1ce30;
    z-index: 1;
}

#descript {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.main {
    text-align: center;
    margin-top: 75px;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}

.sub {
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
}

.archive {
    position: absolute;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    text-align: absolute;
    margin-top: 750px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.archive a {
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
}

.archive a:hover {
    color: #bdbdbd;
    transition: 0.5s;
}

.archive h1 {
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
}

.archive p {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
}